
@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/Shared/_LayoutCarrito.cshtml";
}

<h2 style="text-align:center">@ViewBag.mensaje</h2>

<div>
    @Html.ActionLink("Retorna", "Tienda", null, new { @class = "primary-btn order-submit")
</div>

